ul {
	padding-left: 0;
	margin-left: 1em;
	list-style-type: none;
}
ul > li {
	position: relative;
}
li {
	position: absolute;
	left: -1em;
}
li::before {
	margin-right: .25em;
}

.connect {
	text-align: center;
	margin-top: 2em;
}

.chan_empty::before,
.chan_populated::before,
.client::before,
.client_inputmute::before,
.client_outputmute::before,
.client_away::before,
.client_admin::after,
.icon {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.chan_empty::before {
	content: "\f07b";
	color: #e67e22;
}
.chan_populated::before {
	content: "\f07c";
	color: #d35400;
}
.client::before {
	content: "\f025";
	color: #9b59b6;
}
.client_inputmute::before {
	content: "\f00d";
	color: #e74c3c;
}
.client_outputmute::before {
	content: "\f05e";
	color: #e74c3c;
}
.client_away::before {
	content: "\f007";
	color: #7f8c8d;
}
.client_admin::after {
	content: "\f005";
	color: #f39c12;
}
.icon-connect::before {
	content: "\f14c";
}
